<h2>Venues:</h2>
<p>click element to add to selected list</p>
<table id="table1" style="border: 1px solid">

</table>

<h2>Selected:</h2>
<p>click element to remove from selected list</p>
<table id="table2">

</table>
